body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Alterado de space-between para center */
    align-items: center; /* Adicionado para centralizar verticalmente */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
    padding: 20px; /* Reduzi o padding para melhor responsividade */
}

.container {
    width: 100%; /* Alterado de max-width para width */
    max-width: 500px; /* Define uma largura máxima para o container */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.student-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.student-item:last-child {
    border-bottom: none;
}

#studentList{
    width: 40%;
}
#studentTable{
    width: 100%;
}

/* Estilo para o botão de Busca e Atualização */
.btn-busca-atualizacao {
    display: block; /* Mudado de inline-block para block */
    width: 80%;
    padding: 10px;
    margin: 10px auto 0; /* Top 10px, laterais automáticas, bottom 0 */
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-busca-atualizacao:hover {
    background-color: #2980b9;
}

.nav-link a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #000000; /* Cor de fundo verde */
        color: white; /* Cor do texto */
        text-decoration: none; /* Remove sublinhado */
        border-radius: 4px; /* Bordas arredondadas */
        font-family: Arial, sans-serif; /* Fonte */
        transition: background-color 0.3s ease; /* Transição suave */
        border: none; /* Remove borda padrão */
        cursor: pointer; /* Muda cursor para pointer */
        text-align: center; /* Centraliza texto */
    }
    
    .nav-link a:hover {
        background-color: #a1300b; /* Cor mais escura no hover */
    }
    
    .nav-link a:active {
        background-color: #90370d; /* Cor quando clicado */
        transform: translateY(1px); /* Efeito de pressionado */
    }